.main-content {
    display: flex;
    justify-content: center;
}

.main {
    height: 400px;
    align-self: flex-start;
}

.gallery {
    display: flex;
    justify-content: center;
}

.img {
    height: 200px;
    margin: 0 5px;
}